* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #2db77b;
}
.container {
  height: 100vh;
  background-image: url("./imagens/camaleao.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  z-index: 1;
}
